<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Sistema de Inventario</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <div class="login-container">

        <div class="login-card">

            <!-- LOGO -->
            <img src="{{ url_for('static', filename='logo.png') }}"
                 alt="Logo"
                 class="login-logo">

            <h2>Iniciar Sesión</h2>

            <form method="POST">
                <input type="text"
                       name="usuario"
                       placeholder="Usuario"
                       required>

                <input type="password"
                       name="password"
                       placeholder="Contraseña"
                       required>

                <button type="submit">Entrar</button>
            </form>

        </div>

    </div>

</body>
</html>
